#logo {
    padding: 0px 5px;
    color: #007bff;
    font-family: AndaleMono, Verdana;
}
#slogan {
    font-family: Verdana;
}
#top-nav {
    padding: 0px;
}
#top-nav-content-container {
    border-top: 1px solid #dee2e6;
}
.navbar-toggler {
    padding: 4px;
}
.navbar-toggler:hover {
    color: #ffb845;
}
.nav-item:hover {
    background-color: #dee2e6;
}
.nav-link:hover {
    color: #000;
}