html, body {
    font-family: Avenir;
    background-color: #fff
}

header {
    margin: auto;
    margin-top: 10px;
}

#header-container, #content-container {
    max-width: 1200px;
}

#top-nav {
    padding: 0px 5px;
}

#logo {
    padding: 0px 5px 0px 13px;
    color: #06f;
    font-family: AndaleMono, Verdana;

}

#slogan {
    font-family: Verdana;
}

#project-tree {
    background-color: blue;
    text-align: center;
    height: 600px;
}

#content {
    background-color: green;
    text-align: center;
    height: 600px;
}

#user-space {
    background-color: red;
    text-align: center;
    height: 600px;
}

#user-login {
    background-color: yellow;
    text-align: center;
    height: 200px;
}

#user-links {
    background-color: orange;
    text-align: center;
    height: 200px;
}
